* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 1200px;
    /*átmenet:    tipusa        (elforgatás  szín        pozíció, ... ...)*/
    background: linear-gradient(-45deg,rgba(26,188,56,1) 0%, rgba(142,68,173,1) 100%);
}
.container {
    width: 800px;
    margin: 0 auto;
}
.myBox {
    margin: 50px 0;
    background: lightblue;
    text-align: center;
}
.item {
    display: inline-block;
    width: 150px;
    height: 150px;
    border:1px solid black;
    margin: 10px;
}
