* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}
body {
    /*background-color: #eea;
    background-image: url("https://picsum.photos/800");
    background-position: center top;!*x y*!
    background-repeat: no-repeat;*/
    background: #eea url("https://picsum.photos/800") center top no-repeat;
    background-size: cover;
}
.container {
    border: deeppink 5px groove;
    min-height: 400px;
}
.container > div {
    background: #fff;
    border:1px solid cornflowerblue;
    color:darkgoldenrod;
    font-size:1.5em;
    padding: 10px;
}

.container > div:nth-child(1) {
    background-color: #8ba;
}

.container > div:nth-child(2) {
    background-color: #e65;
    color:yellow;
}

.container > div:last-child {
    background-color: #588;
    color:yellow;
}

