@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@700&display=swap');
:root {
    --base-font: 'Open Sans', sans-serif;
    --title-font: Poppins, sans-serif;
    --light-grey: #c1c1c1;
    --middle-grey: #717171;
    --dark-grey: #666;
    --dark-color: #212529;
    --primary-color: #fd7e14;
    --white: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    min-height: 150px;
    /*background: lightgrey;*/
}

.container {
    /*background-color: khaki;*/
    padding: 0 15px;
}

html, body {
    height: 100%;
    scroll-behavior: smooth;
}
body {
    font-family: var(--base-font);
    font-size:14px;
    line-height: 1.5em;
    color: var(--middle-grey);
}
h1,h2,h3 {
    font-family: var(--title-font);
    margin: 0.5em 0;
}
img {/*@todo !!!*/
    max-width: 100%;
}
ul, ol {
    list-style: none;
}
a {
    text-decoration: none;
}

.flex-container {
    display: flex;
    flex-direction: column;
}

/*gomb(ok)*/
.btn {
    text-transform: uppercase;
    display: inline-block;
    text-decoration: none;
    padding: 10px 20px;
    background-color: var(--light-grey);
    font-weight: bold;
    /*font-size: 0.9em;*/
    color: var(--white);
    cursor: pointer;
    outline: none;
    border: none;
    transition: all 500ms ease-in-out;
    margin: 1em 0;
}

.btn-primary {
    background-color: var(--primary-color);
}

.btn-primary:hover {
    background-color: var(--dark-color);
}
/*Main Menu*/
.logo img {
    width: 150px;
    margin: 5px 0;
}

#menu-toggle {
    padding: 5px;
    font-size: 1.5em;
    color: var(--middle-grey);
    border: 1px solid var(--middle-grey);
    cursor: pointer;
}

.main-menu > li > a {
    text-transform: uppercase;
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
    color: var(--white);
    display: block;
    font-weight: bold;
    transition: all 500ms ease-in-out; /*változások ideje (most minden stílusra kérünk átmenetet)*/
}

.sticky .main-menu > li > a {
    color: var(--dark-color)
}

.main-menu > li > a:hover {
    color: var(--primary-color);
    border-bottom-color: var(--primary-color);
}
.main-header {
    background: transparent;
    /*pozícionálás*/
    position: absolute;
    width: 100%;
    border-bottom: 1px solid var(--light-grey);
    /*árnyék */
    box-shadow: 0 0 8px rgba(0,0,0,0.5);
}

.main-header > nav.container {
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
}

.main-header > nav > .main-menu {
    display: none;
}
/*sticky menü*/
.sticky {
    position: fixed;
    background-color: var(--white);
}
/*menu váltó*/
#menu-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
}

/*mivel button elem, tudunk input(focus,blur) eseményre*/
/*#menu-toggle:focus + .main-menu {
    display: block;
}*/

/*HERO*/
#hero {
    background: url("https://picsum.photos/1920/1200") center no-repeat;
    height: 100%;
    /*tartalom legyen balra és középen*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--white);
}
#hero > .container > span {
    font-size:1.8em;
}
#hero > .container > h1 {
    font-size:2em;
    line-height: 2em;
    text-transform: uppercase;
}
#hero > .container > h1 > span {
  color: var(--primary-color);
}
#hero > .container > p {
  max-width: 600px;
}


/*szekciócímek*/
.sectionTitle {
    text-align: center;
    color: var(--dark-color);
    margin: 0 auto;
    max-width: 600px;
    padding: 70px 0 30px;
}
.sectionTitle > span {
    color: var(--primary-color);
    text-transform: lowercase;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
}
.sectionTitle > span:before,
.sectionTitle > span:after {
    content:'';
    background-color: var(--primary-color);
    display:block;
    width:1em;
    height:2px;
    margin: 0 1em;
}
.sectionTitle > h2 {
    color: var(--dark-color);
    text-transform: uppercase;
}


/*SKILL*/
#skill .flex-container > .box {
    padding-bottom: 1em;
}
#skill > .container > .flex-container > .box:nth-child(2) {
    width: 100%;
}
/*progress bars*/
.progress-bars > li {
    margin-bottom: 15px;
}

.progress-bars .title {
    display: flex;
    justify-content: space-between;
    color: var(--dark-color);
    text-transform: uppercase;
    font-weight: bold;
}

.progress-bars .bar {
    height: 1em;
    background: var(--dark-grey);
}
.progress-bars .bar > .inner {
    background: var(--primary-color);
    height: 1em;
}

#skill > footer {
    background-color: var(--dark-color);
    color: var(--white);
    padding: 2em 0 2em;
}

#skill > footer > .flex-container > .box {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    font-weight: bold;
    font-size: 1.5em;
    line-height: 1.5em;
    text-transform: capitalize;
    margin: 1em 0;
}

#skill .quantity {
    color: var(--primary-color);
    margin: 0.5em auto;
}

#skill .quantity > span {
    font-weight: normal;
}


/*tablet*/
@media screen and (min-width: 640px) {
    .container {
        width: 90%;
        margin: 0 auto;
    }
    .personal-info {
        columns: 2;
        column-count: 2;
    }
}

/*desktop*/
@media screen and (min-width: 1230px) {
    .container {
        width: 1200px;
    }
    header > nav > .main-menu {
        /*display: block;*/
        display: flex !important;
    }

    #menu-toggle {
        display: none;
    }
    /*Menülemek és menü elrendezése*/
    header > nav.container {
        display: flex;
        align-items: center;
        /*padding: 5px 0;*/
    }
    header .logo {
        flex:1;
    }
    .flex-container {
        flex-direction: row;
    }

    .flex-container > .box {
        flex: 1 1 auto;
    }

    #about .flex-container > .box:nth-child(1) {
        flex-basis: 65%;
    }

    #about .flex-container > .box:nth-child(2) {
        flex-basis: 35%;
    }

    /*desktop main menu távolságok*/
    .main-menu > li {
        padding-left: 2em;
    }

}
