/*kiválasztók és stílusok felsorolása*/
* {/*minden egyes elemre érvényes szabályok - micro-reset*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,ol {
    list-style: none;
}


header, footer {
    background-color: coral;
}
